[Unit]
Description=Uvicorn instance to serve FastAPI app
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=path to run_service.py
EnvironmentFile=path to venv you are using
ExecStart=path to venn/.venv/bin/uvicorn run_server:app --host 0.0.0.0 --port 8000 --proxy-headers
Restart=always

[Install]
WantedBy=multi-user.target
